*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan-webfont.eot") format("eot");
    src: url("../fonts/BYekan-webfont.ttf") format("ttf");
    src: url("../fonts/BYekan-webfont.woff") format("woff");}

body{
    direction: rtl;
    font-family: BYekan;
    width: 100%;
    height: 100%;
    background: rgb(12, 204, 188);
    position: relative;
    display: flex;}

/* sidebar */

.main-sidebar{
    width: 15%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../images/sideBack3.jpg);
    background-size: cover;
    box-shadow: 2px 2px 100px rgba(14, 13, 13, 0.2);
    position: fixed;
    right: 0;
    top: 0;}

.ul-sidebar{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 70px 0;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    list-style: none;}

.ul-sidebar .first-li-sidebar{
    width: 100px;
    height: 100px;
    margin: 10px 0 40px 0;
    border-radius: 50%;
    background-color: red;
    border: 1px solid rgb(241, 240, 240);}

.ul-sidebar .first-li-sidebar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;}

.ul-sidebar a{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: start;}

.ul-sidebar .li{
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;}

.ul-sidebar .footer-li{
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 20%;
    border-radius: 5px;}

.ul-sidebar .footer-li img{
    width: 100%;
    height: 100%;
    border-radius: 5px;}

/* content */

.main-content{
    width: 85%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)) ,url("../images/body_back7.jpg");}

td , th {
    text-align: center !important;}

.pointer{
    cursor: pointer;}

.icon-bar{
    position: fixed;
    top: 0;
    right: 0;
    display: none;}

.active-li .li{
    background-color: #999999;
    color: #000!important; }

.loader{
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: url("../images/giphy.gif");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 42%;}

.title-loader{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;}


    


    





    
   